[Unit]
Description=Camera Manager Service
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=capra
ExecStart=/usr/bin/python3 /home/capra/Repos/capra-rove-vtx-streamer/cam_manager.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
